$md-size: 24px;
$lg-size: calc($md-size * 4);

.wrapper {
  border-radius: 10em;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}

.md {
  min-height: 3em;
  max-height: 3em;
  min-width: 3em;
}

.lg {
  min-height: 6em;
  max-height: 6em;
  min-width: 6em;
}
