.content {
  width: 100%;
  font-weight: 300;

  .title {
    padding-block: $spacing;
    font-size: 2rem;
    > h1 {
      line-height: 1;
      margin-inline: 0;
      margin-block: $spacing / 2;
      font-size: 4.5rem;
    }
  }

  .loginText {
    margin-top: $spacing;
    margin-bottom: 7rem;
    > h4 {
      margin: 0;
      margin-bottom: $spacing / 2;
      font-weight: inherit;
      font-size: 1.5rem;

      // Login button
      button {
        font-size: inherit;
        padding-inline: $spacing * 2;
        padding-block: $spacing / 4;
        margin-left: $spacing;
      }
    }
  }

  section {
    margin-bottom: 7rem;
    max-width: 40rem;

    > h2 {
      font-size: 3rem;
      margin-bottom: $spacing;
    }

    > p,
    a {
      position: relative;
      font-size: 1.5rem;
      line-height: 140%;
    }

    a {
      .tooltip {
        @extend %tooltip;
        left: 0;
        right: 0;
        width: max-content;
        padding-inline: $spacing;
        margin-inline: auto;
      }

      &:hover {
        .tooltip {
          opacity: 1;
        }
      }
    }
  }
  .widerSection {
    max-width: 50rem;
  }

  // This has leaderboard and news
  .fullSection {
    display: flex;
    justify-content: center;
    gap: $spacing * 2;
    max-width: 100%;
    margin-bottom: $spacing;
    h2 {
      font-size: 2rem;
    }

    .news {
      flex-grow: 1;
      max-width: 35rem;
    }
  }
}
