.content {
  width: 100%;
  font-weight: 300;

  .title {
    padding-block: $spacing;
    font-size: 2rem;
    > h1 {
      line-height: 1;
      margin-left: -0.35rem;
      margin-block: $spacing / 2;
      font-size: 4.5rem;
    }
  }

  .loginText {
    font-family: 'Inter Variable';
    margin-top: $spacing;
    padding-left: 0;
    border: none;

    > h4 {
      font-family: inherit;
      margin: 0;
      margin-bottom: $spacing / 2;
      font-weight: inherit;
      font-size: 1.5rem;

      .login {
        @extend %button;
        font-size: inherit;
        padding-inline: $spacing;
        padding-block: $spacing / 4;
        margin-left: $spacing / 2;
      }
    }
  }

  section {
    margin-bottom: 8rem;
    max-width: 40rem;
    border-left: 0.25rem solid $color-background-card;
    padding-left: $spacing;

    > h2 {
      font-size: 3rem;
      margin-bottom: $spacing;
    }

    > p,
    .a {
      font-size: 1.5rem;
      line-height: 130%;
    }

    .a {
      &:hover {
        .tooltip {
          opacity: 1;
        }
      }
    }
  }
  .widerSection {
    max-width: 50rem;
  }

  // This has leaderboard and news
  .fullSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing * 2;
    max-width: 100%;
    margin-bottom: $spacing;
    padding-left: 0;
    border: none;

    h2 {
      font-size: 2rem;
    }

    .news {
      max-width: 35rem;
    }
  }
}
