.newsRow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-block: $spacing;
  padding: $spacing;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    background-color: $color-background-card;
    cursor: pointer;

    &::before {
      transition: transform ease-out 0.1s;
      transform: scaleX(1.5);
    }
  }

  // Colored bar
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 0.25rem;
    border-radius: 100vmax;
    background-color: $color-secondary;
  }

  // Title
  > h4 {
    width: 100%;
    padding: 0;
    margin-top: $spacing / 4;
    margin-bottom: $spacing / 2;
    line-height: 1;
  }

  .type {
    width: 100%;
    font-size: 0.75rem;
  }

  // Short description
  > p {
    display: inline;
    width: 70%;
    margin: 0;
    font-size: 0.75rem;
  }
}
