.createPost {
  padding: $spacing / 2;
  border-radius: $border-radius;
  margin-bottom: $spacing / 2;
}

.title {
  margin-top: 0;
}

.closePost {
  position: absolute;
  top: $spacing / 2;
  right: $spacing / 2;
  font-weight: 700;
  color: red;
  outline: 2px solid red;
  background-color: transparent;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 15rem;
  max-width: 30rem;
  gap: $spacing;
  > label {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    > textarea {
      max-width: 25rem;
      width: 20rem; //This property decides initial modal width
      height: 12rem;
    }

    > input,
    > textarea {
      margin-top: $spacing/2;
      background-color: transparent;
      outline: 2px solid $color-secondary;

      &:focus-within {
        outline-color: $color-primary;
      }
    }
  }

  > button {
    font-size: 1rem;
    font-weight: 700;
  }
}
