.outerSlider {
  position: relative;
  height: 2rem;
  width: 3rem;
  border-radius: 100vmax;
  padding: 0;

  background-color: $color-background;

  .innerSlider {
    position: absolute;
    aspect-ratio: 1;

    width: 1.25rem;
    top: calc(0.75rem / 2);
    border-radius: 100vmax;
    background-color: $color-text;

    transition: transform 0.25s ease-out;

    &.dark {
      transform: translateX(calc(0.75rem / 2));
    }

    &.light {
      transform: translateX(1.75rem - calc(0.75rem / 2));
    }
  }
}
