.mapperDetails {
  height: 100%;
  padding: $spacing;
  position: relative;

  background-color: $color-background-content;

  .stickyWrapper {
    top: $spacing;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;

    .profileInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      > a:hover {
        .linkIcon {
          display: block;
        }
      }

      .avatar:hover {
        outline: 0.15rem solid $color-text;
      }

      .mapperName {
        position: relative;
        display: flex;
        height: fit-content;
        margin-top: 0.5em;
        margin-bottom: 0.15em;
        justify-content: center;
        font-weight: $username-weight;
        font-size: 1.5rem;
        line-height: 1em;
      }

      .mapperName:hover {
        text-decoration: underline;
      }

      .title {
        text-align: center;
      }
    }

    .stats,
    .followers {
      display: flex;
      gap: $spacing;
      justify-content: center;

      .pill {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50rem;
        //outline: 0.1rem solid $color-secondary;
        padding: 0.5rem;

        width: 4em;
        height: 2.25em;

        .icon {
          width: 1.25em;
          aspect-ratio: 1;
        }
        .countText {
          font-size: large;
        }

        .tooltip {
          @extend %tooltip;
        }
        &:hover {
          .tooltip {
            opacity: 1;
          }
        }
      }
    }
  }
}
