.mapperDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: $spacing;

  > div {
    flex-basis: 0%;
    flex-grow: 1;
  }

  .info {
    max-width: 32rem;
    min-width: 32rem;
  }

  .bio {
    // Used for gradient in carousel
    --currentBg: var(--bgColor-1);

    display: flex;
    flex-direction: column;
    min-width: 25rem;
    max-width: calc($card-width * 3 + $spacing);
    min-height: 100%;
    flex-grow: 1;

    &.loading {
      .desc {
        @extend %skeleton;
        color: transparent;
      }
    }

    > h4 {
      margin-block: $spacing/2;
      width: 100%;
      text-align: center;
    }

    .desc {
      flex-grow: 1;
      flex-shrink: 1;
      min-height: 10rem;

      @media screen and (max-width: $responsive-breakpoint) {
        display: flex;
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: ($responsive-breakpoint / 2)) {
    .info {
      min-width: 15rem;
      flex-basis: 100%;
    }
    .bio {
      min-width: 10rem;
    }
  }
}
