$card-height: 5em;
$card-width: 15em;

.cardWrapper {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: $border-radius;
  width: $card-width;

  margin: 1em;
  padding-right: 0;

  cursor: pointer;

  @extend %cardShadow;

  .photo {
    position: relative;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    border-radius: $border-radius 0 0 $border-radius;
  }

  .rightSide {
    position: absolute;
    right: 0.5em;
    height: 100%;
    .name {
      position: relative;
      margin-top: 1.2rem;
      width: 17ch;

      text-align: right;
      font-weight: 500;

      // Wraps the text for legibility
      text-shadow: -1px -1px 0 $color-background-content,
        1px -1px 0 $color-background-content,
        -1px 1px 0 $color-background-content,
        1px 1px 0 $color-background-content;
    }

    .pills {
      margin-top: 0.1rem;
      display: flex;
      justify-content: right;
      .pill {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: $color-background-card;
        padding: 0.15rem 0.35rem;
        border-radius: 50rem;
        font-size: x-small;
        .tooltip {
          @extend %tooltip;
          max-width: 10em;
          width: max-content;
          top: 1.25rem;
        }
        &:hover {
          .tooltip {
            opacity: 1;
          }
        }
      }
    }
  }
}
