$card-height: 4rem;
$card-width: 12rem;

.cardWrapper {
  display: flex;
  position: relative;
  align-items: center;

  border-radius: $border-radius;
  width: $card-width;
  height: $card-height;
  min-width: $card-width;

  cursor: pointer;

  @extend %cardShadow;

  .photo {
    position: relative;
    width: 3rem;
    min-width: 3rem;
    margin-inline: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50rem;
    overflow: hidden;
  }

  .rightSide {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
    flex-grow: 1;

    .name {
      position: relative;
      width: calc($card-width - 4rem);
      padding-right: 0.5rem;
      text-align: center;
      font-weight: 500;
    }

    .pills {
      margin-top: 0.1rem;
      display: flex;
      justify-content: center;
      padding-right: 0.5rem;
      .pill {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: $color-background-card;
        padding: 0.15rem 0.35rem;
        border-radius: 50rem;
        font-size: x-small;
        .tooltip {
          @extend %tooltip;
          max-width: 10em;
          width: max-content;
          top: 1.25rem;
        }
        &:hover {
          .tooltip {
            opacity: 1;
          }
        }
      }
    }
  }
}
