.carousel {
  height: $card-height;
  width: $card-width;
  overflow: visible !important;

  margin-bottom: 2.5rem;

  :global(.carousel-slider) {
    overflow: visible !important;
  }

  :global(.control-dots) {
    bottom: -2.5rem - 0.25rem !important;

    :global(.dot) {
      background-color: var(--textColor) !important;
      width: 1rem !important;
      height: 1rem !important;
    }
  }

  :global(.slide) {
    display: flex;
    justify-content: center;
    > div {
      width: $card-width;
    }
  }

  :global(.control-arrow) {
    height: 2rem;
    width: 2rem;
    top: unset !important;
    bottom: -2.35rem !important;
    font-size: 2rem !important;
    padding: 0.25rem !important;
    z-index: 1 !important;
  }

  :global(.control-dots) {
    margin: 0.5rem 0 !important;
  }

  :global(.control-next)::before {
    transform: translateY(-0.7rem) translateX(0.05rem);
    border-top: 0.5rem solid transparent !important;
    border-bottom: 0.5rem solid transparent !important;
    border-left: 0.75rem solid $color-text !important;
    margin: 0 0.25rem !important;
  }

  :global(.control-prev)::before {
    transform: translateY(-0.6rem) translateX(-0.05rem);
    border-top: 0.5rem solid transparent !important;
    border-bottom: 0.5rem solid transparent !important;
    border-right: 0.75rem solid $color-text !important;
    margin: 0 0.25rem !important;
  }
}
