@import "../variables/index";

%cardShadow {
  position: relative;
  box-shadow: var(--cardShadow);

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    pointer-events: none;
    border-radius: $border-radius;

    box-shadow: var(--cardShadowHover);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }

  &:hover::after {
    opacity: 1;
  }
}

%tooltip {
  position: absolute;
  display: flex;
  background-color: $color-background;
  padding: 0.25em 0.5em;

  top: -1.75em;
  border-radius: $border-radius;
  z-index: 2;
  opacity: 0;
  transition: opacity ease-out 0.15s;
  pointer-events: none;
  text-align: center;
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
}
