.newsScreen {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $spacing;
  height: 100%;

  .topInfluencers,
  .newsContainer,
  .contribute {
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    padding-inline: $spacing;
    padding-bottom: $spacing;

    @extend %contentBox;
  }

  .topInfluencers,
  .newsContainer {
    height: calc(65% - $spacing / 2);
  }

  .newsContainer {
    width: 30rem;
  }

  .contribute {
    height: calc(35% - $spacing / 2);
    max-width: 50rem + $spacing;
    flex-basis: 100%;

    .buttons {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: $spacing;
    }
  }

  .topInfluencers {
    width: 20rem;

    .row {
      display: flex;
      align-items: center;
      gap: $spacing;
      margin-bottom: $spacing;
      .number {
        position: relative;
        font-size: 2rem;
        > span {
          display: block;
          font-size: 0.75rem;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: $responsive-breakpoint) {
  .newsScreen {
    flex-direction: column;
    .newsContainer,
    .contribute {
      width: 20rem;
      max-width: 20rem;
      flex-basis: 100%;
    }
  }
}
