@import "./mixins/index";
@import "./variables/sizes";
@import "./variables/toggledVariables";
@import "./variables/fonts";

html,
body {
  padding: 0;
  margin: 0;

  background-color: $color-background;
  overflow-x: hidden;

  font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: clamp(0.8rem, .5vw + 0.5rem, 1.5rem);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.25rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  font-size: 1rem;

  color: $color-text;
  // All of the color transitions
  $transitionConfig: 0.1s ease-in;
  $allTransitions: background-color $transitionConfig, color $transitionConfig,
    outline-color $transitionConfig, text-shadow $transitionConfig,
    box-shadow $transitionConfig, font-weight $transitionConfig,
    fill $transitionConfig;
  transition: $allTransitions;
  &::after,
  &::before {
    transition: $allTransitions;
  }
}
a {
  text-decoration: none;
  color: $color-button-outline;
  cursor: pointer;
}
button {
  cursor: pointer;
  position: relative;

  padding: $spacing;

  background-color: var(--buttonBg-alt);
  color: var(--buttonText-alt);

  outline: 2px solid $color-button-outline;

  font-weight: 700;

  > span {
    font-weight: 700;
    line-height: 1;
    color: inherit;
  }

  &:hover {
    background-color: $color-button-outline;
    color: $color-background;
  }
}

*::-webkit-scrollbar {
  color: transparent;
  width: 0.25rem;
  height: 0.25rem;
  margin: 0.25rem;
}
*::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 5rem;
}

input,
textarea,
button {
  border: none;
  padding: $spacing / 2;
  border-radius: $border-radius;
}
