@import "./mixins/index";
@import "./variables/sizes";
@import "./variables/toggledVariables";
@import "./variables/fonts";

html,
body {
  padding: 0;
  margin: 0;

  background-color: $color-background;
  overflow-x: hidden;

  font-family: "Comfortaa", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  font-size: 1rem;
  @media screen and (max-width: $responsive-breakpoint) {
    font-size: 0.8rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;

  color: $color-text;
  // All of the color transitions
  $transitionConfig: 0.1s ease-in;
  $allTransitions: background-color $transitionConfig, color $transitionConfig,
    outline-color $transitionConfig, text-shadow $transitionConfig,
    box-shadow $transitionConfig, font-weight $transitionConfig,
    fill $transitionConfig;
  transition: $allTransitions;
  &::after,
  &::before {
    transition: $allTransitions;
  }
}

button {
  position: relative;
  color: $color-text-primary;
  outline: 2px solid $color-primary;
  padding: $spacing;
  > span {
    font-weight: 700;
    line-height: 1;
    color: inherit;
  }
  
  cursor: pointer;
  @extend %buttonHover;
}

*::-webkit-scrollbar {
  color: transparent;
  width: 0.25rem;
  height: 0.25rem;
  margin: 0.25rem;
}
*::-webkit-scrollbar-thumb {
  background-color: $color-primary;
  border-radius: 5rem;
}

input,
textarea,
button {
  border: none;
  padding: $spacing / 2;
  border-radius: $border-radius;
}
