.contentCenterer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;

  max-width: $screen-size;

  margin-inline: auto;
  padding: $spacing;
}

.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  height: 3.5rem;

  padding-block: $spacing / 2;
  padding-inline: $spacing;

  z-index: 1;

  @extend %contentBox;

  &::after {
    position: absolute;
    content: "";
    width: 100vw;
    bottom: 0;
    left: 0;
    height: $spacing / 8;
    background: linear-gradient(to right, $color-secondary, $color-primary);
  }

  .home {
    height: 3.5rem;
    display: flex;
    align-items: center;
    gap: $spacing / 2;
    margin-right: 1rem;

    > svg {
      width: 2rem;
      height: 2.5rem;
      margin-bottom: 0.25rem;
    }
    span {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .searchBar {
    margin-left: auto;
    margin-right: $spacing;
  }

  .darkMode {
    margin-right: $spacing;
  }

  .avatar {
    outline: 2px $color-primary solid;
  }
  .avatar:hover {
    outline-color: $color-secondary;
  }
}

@media screen and (max-width: $responsive-breakpoint) {
  .contentCenterer {
    height: auto;
  }
}

@media screen and (max-width: ($responsive-breakpoint / 2)) {
  .home > span {
    display: none;
  }
}
