.searchBorder {
  isolation: isolate;
  position: relative;
  padding: $spacing / 4;
  border-radius: $border-radius * 1.5;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(to right, $color-secondary, $color-primary);
    opacity: 0.25;
    pointer-events: none;
    transition: opacity 0s; // Fix for light mode gradient flash
  }

  &:focus-within {
    &::after {
      opacity: 1;
      z-index: -1;
    }
  }
}

:global(html[data-theme="light"]) .searchBar {
  background-color: transparent;
  &:focus-within {
    background-color: $color-background;
  }
  transition: background-color 0s;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: $color-background;
  border-radius: $border-radius;
  width: 10.5rem;

  > input {
    background-color: transparent;
    width: 10rem-1.25rem;

    &:focus-within,
    &:focus-visible,
    &:focus {
      outline: none;
    }
  }

  .magnifyButton {
    outline: none;
    display: inline;
    padding-block: 0;
    padding-inline: 0.25rem;
    background-color: transparent;
    height: 1.25rem;
    width: 1.75rem;
    right: 0.25rem;
    top: calc(50% - (1.25rem / 2));

    // Reset global behavior
    &:hover:not(:disabled) {
      background-color: transparent;
    }
  }

  .magnifySvg {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: ($responsive-breakpoint / 2)) {
  .searchBorder {
    .searchBar {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 2rem;
      width: 2rem;
      height: 2rem;
      .magnifyButton {
        position: relative;
        inset: 0;
      }
      > input {
        display: none;
      }
    }

    // Expand to full width on mobile
    &:focus-within {
      display: block;
      position: absolute;
      width: calc(100% - $spacing);
      left: $spacing / 2;
      z-index: 5;

      .searchBar {
        width: 100%;

        > input {
          display: block;
          width: 100%;
        }
      }
    }

    // Hacky fix to prevent search results from shrinking
    &:not(:focus-within) {
      > div:nth-child(2) {
        display: none;
      }
    }
  }
}
