.profilePage {
  display: flex;
  height: 100%;
  gap: 1rem;

  

  .mapperInfluences {
    flex-basis: 70%;
    background-color: $color-background-content;
  }

  .description {
    background-color: $color-background-card;
    border: 0;
    border-radius: $border-radius;

    height: 5rem;
    min-height: 2rem;

    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;

    width: 100%;
    resize: none;

    &.editable:hover {
      background-color: $color-background-card-hover;
    }

    &:focus-within,
    &:focus-visible,
    &:focus {
      outline: 0.1rem solid $color-primary;
    }
  }
}
