.profilePage {
  display: flex;

  .mapperDetails {
    flex-basis: 30%;
    outline: 2px solid red;

    .profileCard {
      @extend %cardShadow;

      display: flex;
      padding: 1em;
      margin: 1em;

      border-radius: 0.1em;

      .mapperName {
        display: flex;
        margin-inline: auto;
        margin-top: 1em;
        height: fit-content;
        text-align: center;

        font-weight: bold;
      }
    }

    .description {
      outline: 1px solid blue;
      min-height: 2em;

      margin: 1em;

      width: calc(100% - 2em);
    }

    .stats {
      margin-inline: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
  }

  .mapperInfluences {
    flex-basis: 70%;
    outline: solid 2px green;
  }
}
