.profilePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing * 2;

  .doubleCol{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: $spacing;

    >div{
      max-height: 30rem;
      height: 30rem;
      flex-grow: 1;
    }
  }
}

@media screen and (max-width: $responsive-breakpoint) {
}
