.profilePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // Used in the wrapper under the buttons as well: "./InfluenceList/style.module.scss"
  --max-width: 65rem;

  .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: var(--max-width);

    margin-top: $spacing * 2;

    > button {
      position: relative;
      font-size: 2rem;

      border: none;
      outline: none;
      background-color: transparent;
      color: $color-text-faded;

      transition: color ease-in 100ms;

      &:hover,
      &:focus-visible {
        background-color: transparent;
        color: $color-text;

        &::after {
          transform: scaleX(0.1);
        }
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        bottom: 0.1rem;
        top: auto;
        background-color: $color-primary;
        height: 0.25rem;
        transition: transform ease-in 100ms;
        transform: scaleX(0);

        border-radius: 999rem;
      }
    }

    .selected {
      color: $color-text;

      &::after {
        transform: scaleX(1);
      }

      &:hover,
      &:focus-visible {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  .content {
    margin-block: $spacing / 2;

    --height: 40rem;
    width: 100%;
    min-height: var(--height);
  }
}

@keyframes barWidth {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
