.influenceType {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1.25rem;

  //This has position relative inside, needs the override below
  .purple {
    @extend %buttonHoverSecondary;
  }

  .plus,
  .minus,
  .purple {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vmax;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 1rem;
    font-weight: 700;

    user-select: none;
  }

  .plus {
    right: 0;
  }
  .minus {
    left: 0;
  }
}
