.description {
  background-color: $color-background-card;
  border: 0;
  border-radius: $border-radius;

  min-height: 3rem;
  width: 100%;
  height: 100%;

  padding: $spacing;
  resize: vertical;

  &.editable {
    &:focus-within,
    &:focus-visible,
    &:focus {
      outline: 0.1rem solid $color-primary;
    }
  }

  &.editable:hover {
    background-color: $color-background-card-hover;
  }
}
