.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: spacing;
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing;
  margin-bottom: $spacing;
}

.button {
  padding: $spacing;
  border-radius: $border-radius;
  outline: 2px solid $color-button-outline;
  background-color: $color-button-bg;

  >a{
    aspect-ratio: 1;
  }

  .icon {
    width: 5rem;
    height: 5rem;
  }
}
