.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: spacing;
}

.buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing;
  margin-bottom: $spacing;
}

.button {
  padding: $spacing;
  border-radius: $border-radius;
  outline: 2px solid $color-button-outline;
  background-color: var(--buttonBg-alt);

  .icon {
    width: 5rem;
    height: 5rem;
  }

  &:hover {
    --buttonText-alt: var(--bgColor-1);
    background-color: $color-button-outline;
  }
}
