$md-size: 2rem;
$lg-size: calc($md-size * 3);
$xl-size: calc($md-size * 6);

.wrapper {
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
  > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.circle {
  border-radius: 99rem;
}

.md {
  min-height: $md-size;
  max-height: $md-size;
  min-width: $md-size;
}

.lg {
  min-height: $lg-size;
  max-height: $lg-size;
  min-width: $lg-size;
}

.xl {
  min-height: $xl-size;
  max-height: $xl-size;
  min-width: $xl-size;
}
