.newsRow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-block: $spacing;
  padding-inline: $spacing;
  padding-block: $spacing / 8;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover {
    background-color: $color-background-card;
    cursor: pointer;

    &::before {
      transform: scaleX(1.5);
    }
    &::after {
      transform: scaleY(1.5);
    }
  }

  // Colored bar
  &::after,
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    background-color: $color-secondary;
    border-radius: 100vmax;
    transition: transform ease-out 0.1s;
  }
  &::before {
    height: 100%;
    width: 0.25rem;
  }

  &::after {
    width: 0.75rem;
    height: 0.25rem;
  }

  // Title
  > h4 {
    width: 100%;
    padding: 0;
    margin-block: $spacing / 2;
    line-height: 1;
    font-size: 1.5rem;
  }

  .type {
    margin-top: -0.35rem;
    width: 100%;
    font-size: 0.75rem;
  }

  // Short description
  > p {
    display: inline;
    width: 70%;
    margin: 0;
    font-size: 0.75rem;
  }
}

.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-button-outline;

    border-bottom: $color-button-outline 1px solid;

    * {
      color: inherit;
    }
  }
  img {
    margin-block: $spacing / 2;
    max-width: 100%;
    height: auto;
  }
}
