$color-primary: var(--primaryColor);
$color-secondary: var(--secondaryColor);
//$color-tertiary: hsl(0, 0, 0);

$color-text: var(--textColor);
$color-background: var(--backgroundColor);
$color-background-secondary: var(--backgroundColorSecondary);

$color-shadow: var(--shadowColor);
$color-shadow-hover: var(--shadowColor);
