.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing;
  margin-top: $spacing * 2;
  width: 100%;

  // Singular stat
  .stat {
    display: flex;
    cursor: default;

    .text {
      text-align: right;
      height: 100%;
      width: 7rem;
      font-size: 1.5rem;
      // "maps" text
      > span {
        display: block;
        font-size: 1rem;
      }
      margin-right: $spacing / 2;
    }
    .number {
      font-size: 3rem;
      width: 3ch;
      line-height: 110%;
    }
  }
}

.loading {
  .stat .number {
    @extend %skeleton;
    color: transparent;
  }
}
