.tutorialWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  > h1 {
    position: relative;
    padding-inline: $spacing / 2;
    &::after {
      content: '';
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      width: 100%;
      height: 0.1rem;

      background-color: $color-text;
    }
  }

  .stepsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing;
    margin-bottom: $spacing;
    width: 90%;

    .tutorialStep {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 20rem;
      min-height: 10rem;
      padding-block: $spacing / 2;
      padding-inline: $spacing;

      isolation: isolate;

      @extend %contentBox;

      .centerer {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
      }

      .addButtonTooltip {
        position: absolute;
        z-index: 1;

        font-family: $inter;
        padding-block: $spacing;
        background-color: $color-background-content;
        animation: fadeIn 0.1s ease-out;
      }

      // Mobile search bar expanding alignment fix
      &:nth-child(1) {
        @media screen and (max-width: $responsive-breakpoint) {
          > div:focus-within {
            bottom: 15%;
          }
        }
        z-index: 1; // fix for search results
        // apparently backdrop-filter messes up stacking context
      }

      // Editing step
      &:nth-child(3) {
        width: 40rem + $spacing;
        padding-bottom: $spacing;

        .centerer {
          gap: $spacing;
        }

        .profileSide {
          position: relative;
          display: flex;
          flex-direction: column;

          .card {
            margin-top: $spacing * 5;
          }
        }

        .descriptionSide {
          height: 100%;
          flex-grow: 1;
        }

        @media screen and (max-width: $responsive-breakpoint) {
          position: relative;
          width: 20rem;
          .centerer {
            display: flex;
            flex-direction: column;
            gap: $spacing / 2;
            width: 20rem - $spacing * 2;

            .descriptionSide {
              margin-left: 0;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
