.allResults {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing;

  right: 0;
  top: calc(100% + $spacing);
  padding: $spacing;

  background-color: var(--bgColor-1);

  outline: 0.1rem solid $color-primary;
  border-radius: $border-radius;

  // "Matching users:"
  > h4 {
    margin: 0;
  }
}

@media screen and (max-width: ($responsive-breakpoint / 2)) {
  .allResults {
    left: 0;
    right: 0;
  }
}
