.addUser {
  .icon{
    width: 2rem;
    height: 2rem;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing;

  font-size: 1.25rem;
  font-weight: bold;

  border-radius: $border-radius;

  background-color: $color-primary;
  padding-inline: $spacing;
  padding-block: $spacing / 2;
}