.mapperInfluences {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  min-width: 20em;
  padding: $spacing;
  padding-top: 0;

  background-color: $color-background-content;

  > h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .scrollWrapper {
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    > span {
      margin-top: 1rem;
      text-align: center;
    }

    .influenceRow {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: $spacing;

      width: 100%;
      max-width: 60rem;

      padding: $spacing / 2;
      padding-bottom: 0;
      margin-bottom: $spacing;

      // Line separator
      &:not(:first-of-type) {
        .top::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.2rem;
          background-color: $color-background-card;
          top: -($spacing * 0.75) - 0.1rem;
        }
      }

      .top {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $spacing / 2;
        max-width: 45rem;
        width: 100%;
        .cardSide {
          flex-grow: 0;
          flex-shrink: 0;
        }

        .descriptionSide {
          display: flex;
          flex-direction: column;
          max-width: 35rem;
          min-width: 20rem;
          min-height: 8rem;
          flex-grow: 1;

          .desc {
            flex-grow: 1;
          }
        }
      }

      .maps {
        --currentBg: var(--bgColor-2); // For carousel gradient

        position: relative;
        max-width: 45rem;
        width: 100%;
        height: max-content;
      }
    }
  }
}
