.mapperInfluences {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  min-width: 20em;
  overflow-y: scroll;

  padding: $spacing;
  padding-top: 0;

  background-color: $color-background-content;

  > h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  > span {
    margin-top: 1rem;
    text-align: center;
  }

  .influenceRow {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 40rem;

    padding: $spacing;
    padding-bottom: 0;
    margin-bottom: 1rem;

    .cardSide {
      flex-basis: 30%;
      flex-grow: 0;
    }

    .descriptionSide {
      height: 100%;
      max-width: 20rem;
      min-width: 10rem;

      flex-grow: 1;
      flex-basis: 0;
      .influenceDescription {
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: $responsive-breakpoint) {
  .influenceRow {
    flex-direction: column;
    .descriptionSide{
      width: 100%;
    }
  }
}
