.newsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;

  overflow-y: scroll;

  padding-inline: $spacing;
  padding-bottom: $spacing;
  @extend %contentBox;
}
