.mentionList {
  @extend %contentBox;
  display: flex;
  align-items: center;
  flex-direction: column;

  height: var(--height);
  max-width: var(--max-width);

  margin-inline: auto;
  padding: $spacing;

  > span {
    margin-top: 0.5rem;
  }

  > h2 {
    text-align: center;
    margin-bottom: $spacing;
  }

  .mentionGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
    justify-items: center;
    gap: $spacing;
    overflow-y: auto;
    padding-bottom: $spacing;
  }

  @media screen and (max-width: $responsive-breakpoint) {
    max-width: none;

    .mentionGrid {
      width: 100%;
      justify-content: center;
    }
  }
}
