.viewport {
  position: relative;
  display: flex;
  flex-direction: row;
  height: max-content;

  overflow: hidden;
  width: 100%;

  // Embla container
  > div {
    display: flex;
    user-select: none;

    transition: transform 0.1s ease-out;

    // Wrapper for every card
    .slide {
      position: relative;
      padding-left: $spacing/2;

      &:nth-child(1) {
        padding-left: 0;
      }
      //Card
      > a {
      }
    }
  }

  .prevGradient,
  .nextGradient {
    position: absolute;
    background-color: var(--currentBg);
    mask-image: linear-gradient(to right, white, transparent);
    top: 0;
    bottom: 0;
    opacity: 0;
    width: 2rem;
    transition: opacity 0.1s ease-in, background-color 0.1s ease-in;
  }

  .prevGradient {
    left: -2px;
  }

  .nextGradient {
    right: -2px;
    rotate: 180deg;
  }

  .visible {
    opacity: 1;
  }
}
