.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing;
  padding: $spacing;

  height: fit-content;

  background-color: transparent;
  outline: 2px solid $color-primary;
  border-radius: $border-radius;

  &:hover {
    background-color: $color-primary;
    > h4 {
      text-decoration: underline;
    }
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }
  > h4 {
    line-height: 1;
    margin: 0;
  }
}
